doctype html 
html(lang='en')
  head
     p: img(src="/images/logo.png", width='500', height='200',align= 'centre')
     div
     h2(align ='centre') Nagarro's Employee Information
     table(style='border:1 solid black;margin-left:auto;margin-right:auto;width:50%')
      thead
        tr
          th(text-align='left',bgcolor='#96D4D4') ID
          th(text-align='left',bgcolor='#96D4D4') Name
          th(text-align='left',bgcolor='#96D4D4') Age
          th(text-align='left',bgcolor='#96D4D4') Address
          th(text-align='left',bgcolor='#96D4D4') Salary
      tbody
        each srec in employeeData
         tr
          td(text-align='left') #{srec.id}
          td(text-align='left') #{srec.name}
          td(text-align='left') #{srec.age}
          td(text-align='left') #{srec.address}
          td(text-align='left') #{srec.salary} 