doctype html
html(lang='en')
  head
     p: img(src="/images/nyan.gif", title="nyan cat")
     div
     h2 Employee Information
     table(border='1')
      thead
        tr
          th ID
          th Name
          th Age
          th Address
          th Salary
      tbody
        each srec in employeeData
         tr
          td #{srec.id}
          td #{srec.name}
          td #{srec.age}
          td #{srec.address}
          td #{srec.salary}