doctype html 
html(lang='en')
  head
     p(align= 'centre'): img(src="/images/logo.png", title="nyan cat")
     div
     h2 Employee Information
     table(style='border:1px solid black;margin-left:auto;margin-right:auto;')
      thead
        tr
          th ID
          th Name
          th Age
          th Address
          th Salary
      tbody
        each srec in employeeData
         tr
          td #{srec.id}
          td #{srec.name}
          td #{srec.age}
          td #{srec.address}
          td #{srec.salary} 