doctype html 
html(lang='en')
  head
    style.
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
    padding: 5px;
    }
    th {
    text-align: left;
    bgcolor:'#96D4D4';
    }
     p: img(src="/images/logo.png", width='500', height='200',align= 'centre')
     div
     h2(text-align ='centre') Nagarro's Employee Information
     table(style='width:50%')
      thead
        tr
          th ID
          th Name
          th Age
          th Address
          th Salary
      tbody
        each srec in employeeData
         tr
          td(text-align='left') #{srec.id}
          td(text-align='left') #{srec.name}
          td(text-align='left') #{srec.age}
          td(text-align='left') #{srec.address}
          td(text-align='left') #{srec.salary} 