extends layout

block content
  h1= title
  p Name: #{name}, Employee ID: #{id}, Age: #{age}, Address: #{address}, Salary: #{salary}
  //p: img(src="/images/nyan.gif", title="nyan cat")
  //pre #{request_uuid}
